[submodule "external/man-pages"]
	path = external/man-pages
	url = https://git.kernel.org/pub/scm/docs/man-pages/man-pages.git
  branch = master
[submodule "history"]
	path = history
	url = ./
	branch = history
